&.supp-box
  border-top 1px solid #a
  float left
  width 100%
  margin-top 50px
  img
    margin-bottom 8px
  ul
    margin-left 250px
    width 500px
    list-style-type square
    li
      line-height 1.9em
      font-size 16px
      margin-bottom 20px
