@import colors
@import prefixes
@import 'components/triangle'
@import fitter

#article .ig
  @import basics
  @import map
  @import duchodciGraph
  @import Player
  @import boxes


.ig.youtube
  height 75vw
  float left
  width 100%
  margin-top 20px
  margin-bottom 35px
  iframe
    position absolute
    width 100%
    height 75vw
    left 0px
    max-width none !important
